@import url(reset.css);
@import url(Modal.css);

@font-face {
    font-family: 'Noto Sans Bold';
    src: url('./assets/fonts/NotoSansAdlamUnjoined-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Noto Sans Medium';
    src: url('./assets/fonts/NotoSansAdlamUnjoined-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Noto Sans Regular';
    src: url('./assets/fonts/NotoSansAdlamUnjoined-Regular.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}


body {
    background-color: #000;
    font-family: 'Noto Sans Medium', serif;
}

#root {
    padding: 16px;
    gap: 16px;
}

p {
    color: #ffffff;
}

.up-frame {
    margin: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.title {
    font-size: 24px;
}

.description {
    font-size: 16px;
    color: #97A39A
}

.add-account, button {
    border: 1px solid #1C1C1C;
    border-radius: 6px;
    padding: 6px 16px;
}

.container-add-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.container-add-button p {
    font-size: 16px;
}

.down-frame {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 10px 96px;
    gap: 30px;
}

.card-container {
    display: flex;
    flex-direction: row;
    padding: 24px;
    gap: 10px;
    border: 1px solid #1C1C1C;
    border-radius: 12px;

}

.card-container .info {
    display: flex;
    flex-direction: column;
}

.avatar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-container .status-container .status-text {
    color: #000000;
}

.card-container .status-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 4px 6px;
    background-color: #ffffff;
    border-radius: 6px;
    gap: 10px;

    img {
        width: 12px;
        height: 12px;
    }

}

.name-status {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
    padding: 5px;
}

.card-container .phone-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5px 10px;
    gap: 5px;
}

/* svg */
.submit-svg {
    color: #68D791;
    width: 12px;
    height: 12px;
}

.phone-svg {
    color: #9B9B9B;
    width: 16px;
    height: 16px;
}

.circle-svg {
    color: #262626;
    width: 48px;
    height: 48px;
}